*{
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 100%;
    display: block;
}
body>a{
    width: 35%;
    margin: 0 20px;
}
